{% extends 'DeliveryMainBundle:Main:main.html.twig' %}

{% block body %}
	<div class="form_sign well mr_t_100">
		<div class="tittle">
	    	{% trans %}This is Browse Module{% endtrans %}
	    </div>    
	   
	    <div class="clearfloat"></div>
	</div>
{% endblock %}	