1<div>
    <div class="tiitle_window">
        {% trans %}Sign up{% endtrans %}
    </div>
    <div class="clearfloat"></div>
    <div class="check_mail">{% trans %}Check you email{% endtrans %}.</div>
</div>